@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed; /*posição fixa*/
    background: #B9B2DB; /**/
    padding: 20px; /*diastacia entre o elemento e sua borda é de 20 pixel*/
    width: 100%; /*largura 100%*/
    height: 30px;  /*altura 30 pixel*/
}

.left h3{
    color: #EF8FAB;
    margin: 0;
    text-transform: uppercase; /*transformação do texto para maiuscula*/
    font-size: 30px; /*tamanho fonte 30 pixel*/
    font-weight: 800; /*peso 800, negrito*/
    text-align: center; /*alinhamento do texto centro*/
}

.left span{
    color: #A7D9E8;
    text-align: center;
}

 .sair_btn{
    padding: 5px; /*preenchimento do texto 5pixel*/
    background: crimson;
    text-decoration: none; /*decoração do texto nenhuma*/
    float: right; /*uma palavra-chave que indica que o elemento deve flutuar à direita do bloco*/
    margin-top: -40px; /*margem do topo -40pixel*/
    margin-right: 40px;/*margem direita 40 pixel*/
    border-radius: 2px; /*borda redonda 2pixel*/
    font-size: 15px;/*font 15pixel*/
    color: #A7D9E8;
    transition: 0.5s; /*transição 0,5segundo*/
    transition-property: background;/*propriedade da transição do fundo */
} 


.carrinho{
    font-size: 40px;
    color: #fff;
    float: right;  /*uma palavra-chave que indica que o elemento deve flutuar à direita do bloco*/
    text-decoration: none;/*decoração do texto nenhum*/
    margin-top: -52px; /*margem do topo -52pixel*/
    margin-right: 40px; /*margem da direita 40pixel*/
    transition: 0.5s; /*transição 0,5segundos*/
    transition-property: background;/*propriedade de transição do fundo */

    /* padding-right: 1.5%;
    display: flex;
    justify-content: flex-end ; 
    padding-bottom: 580px;
    padding: 8px;
    background: crimson;
    float: right;
    border-radius: 2px;
    font-size: 15px;
    color: darkorange; */

}

.conta{
    font-size: 36px; /*tamano fonte 36 pixel*/
    color: #fff;
    float: right;/*uma palavra chave que indica que o elemento deve flutuar à direita do bloco*/
    text-decoration: none; /*decoração do texto nenhum*/
    margin-top: -49px;/*margem do topo -49pixel*/
    margin-right: 10px;/*margem da direita 10 pixel*/
    transition: 0.5s;/*transição 0,5segundos*/
    transition-property: background;/*propriedade da transição do fundo*/
}

 
 .sair_btn:hover{
    background:  #ff008c;
} 
    

.sidebar{
    position: fixed; /*posição fixa*/
    width: 250px;/*largura 250pixel*/
    height: 100%;/*altura 100%*/
    margin-top: 70px;/*margem do topo 70pixel*/
    padding-top: 30px;/*preenchimento do topo 30 pixel*/
    left: 0; /*esquerda 0*/
    background:  #B9B2DB; 
    transition: 0.5s; /*transição 0,5segundos*/
    transition-property: left;/*propriedade da transição do fundo*/
}

.sidebar .img{
    width: 150px; /*largura 150pixel*/
    height: 150px;/*altura 150pixel*/
    /* border-radius: 200px; */
}

.sidebar h2{
    color: #FEE3B8;
    margin-top: 0;/*margem do topo 0*/
    margin-bottom: 20px; /*margem do botão 20 pixel*/
}

.sidebar a{
    color: #fff;
    display: block; /*gerando uma ou mais caixa de elementos inline*/    
    width: 100%;/*largura 100%*/
    line-height: 60px;/*espaçamento entre as linhas 60 pixel*/
    text-decoration: none; /*decoração do texto nenhuma*/
    padding-left: 40px; /*preenchimento da esquerda 40 pixel*/
    box-sizing: border-box; /*o navegador não calcula a dimensão de um elemento somando bordas e margens com altura e largura*/
    transition: 0.5s;/**/
    transition-property: background;
}

.sidebar a:hover{
    background: #FEE3B8;
}

.sidebar ion-icon{
    padding-right: 10px;
    color: #fff;
}

label #sidebar_btn{
    z-index: 1;
    position: fixed;
    left: 10px;
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
    /* margin-left: ; */
}

label #sidebar_btn:hover{
    color: crimson;
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    background: url(../image/polvo.webp) no-repeat; /*ideia: colocar um iframe das páginas*/
    background-size: cover;
    background-position: center;
    height: 100vh;    
    transition: 0.5s;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}


/* -------------------------------------------------------------------------------------------- */

.table {
    width:700px; 
    display:grid;}

.row { 
    display:block;}

.cell {
    display:inline-block;
    padding: 5px 5px;
    margin-bottom: .5%;
    background-color: rgb(248, 242, 234);
    font-size: 10pt;
}
.cellHeader {
    text-align: center !important;}


.cellCodigo {width:100px; }

.cellDescricao {width:300px;}

.cellPrecoHeader {width:100px;}

.cellPreco {width:60px; text-align:right;}

.cellAcoes {width:100px;}